main {
    padding-top: 32px;
}

.package {
    margin: 16px 0;
    border: 2px solid rgb(5, 44, 5);
    background: #8aa591;
    width: 80%;
    border-left: none;    
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}

.package__info {
    border: 2px solid #0e4f1f;
    background: white;
    color: rgb(100, 98, 98);
}